<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Analysis Tool</title>
    <link rel=stylesheet href="../css/index.css">

</head>
<body>
    <h1>Stock Analysis Tool</h1>
    <div id="stockForm">
        <label for="stockSymbol">Stock Symbol:</label>
        <input value="" id="stockSymbol" name="stockSymbol" required>

        <label for="exchange">Exchange:</label>
        <select id="exchange" name="exchange">
            <option value="nse">NSE</option>
            <option value="bse">BSE</option>
        </select>

        <label for="action">Action:</label>
        <select id="action" name="action">
            <option value="fundamental">Fundamental</option>
            <option value="technical">Technical</option>
            <option value="intraday">Intraday Buy/Sell</option>
            <option value="swing">Swing Buy/Sell</option>
        </select>
        <button id="submitButton" value="Next" onclick="selectAnalysis()">NEXT</button>
<!--        <input type="submit" id="submitButton" value="Next" onclick="thisfn">-->
    </div>

    <div id="results">
        <!-- Results will be displayed here -->
    </div>
    <script src="../js/index.js"></script>
    <!-- Include JavaScript for interactivity -->
</body>
</html>
